/* $Id$ */

html		{ min-width: 580px; width: 580px; }

body		{ font-family: monospace; }

/* Sections. */

div.sec-head	{ font-style: normal; font-weight: bold; } /* Sections (Sh). */
div.sec-body	{ }
div.sec-block	{ }

div.ssec-head	{ font-style: normal; font-weight: bold; } /* Sub-sections (Ss). */
div.ssec-body	{ }
div.ssec-block	{ }

/* General font modes. */

.lit		{ font-style: normal; font-weight: normal; } /* Literal: Dl, Li, Bf -literal, Bl -literal, Bl -unfilled. */
.italic		{ font-style: italic; font-weight: normal; } /* Italic: BI, IB, I, (implicit). */
.emph		{ font-style: italic; font-weight: normal; } /* Emphasis: Em, Bl -emphasis. */
.bold		{ font-style: normal; font-weight: bold; } /* Bold: SB, BI, IB, BR, RB, B, (implicit). */
.symb		{ font-style: normal; font-weight: bold; } /* Symbolic: Sy, Ms, Bf -symbolic. */
.roman		{ font-style: normal; font-weight: normal; } /* Roman: (implicit). */

/* Context-specific modes. */

span.addr	{ font-style: italic; font-weight: normal; } /* Address (Ad). */
span.arg	{ font-style: italic; font-weight: normal; } /* Command argument (Ar). */
span.author	{ } /* Author name (An). */
span.cmd	{ font-style: normal; font-weight: bold; } /* Command (Cm). */ 
span.config	{ font-style: normal; font-weight: bold; } /* Config statement (Cd). */
span.define	{ } /* Defines (Dv). */
span.desc	{ } /* Nd.  After em-dash. */
span.diag	{ font-style: normal; font-weight: bold; } /* Diagnostic (Bl -diag). */
span.env	{ } /* Environment variables (Ev). */
span.errno	{ } /* Error string (Er). */
span.farg	{ font-style: italic; font-weight: normal; } /* Function argument (Fa, Fn). */
span.file	{ font-style: italic; font-weight: normal; } /* File (Pa). */
span.flag	{ font-style: normal; font-weight: bold; } /* Flag (Fl, Cm). */
span.fname	{ font-style: normal; font-weight: bold; } /* Function name (Fa, Fn, Rv). */
span.ftype	{ font-style: italic; font-weight: normal; } /* Function types (Ft, Fn). */
span.includes	{ font-style: normal; font-weight: bold; } /* Header includes (In). */
span.lib	{ } /* Library (Lb). */
span.macro	{ font-style: normal; font-weight: bold; } /* Macro-ish thing (Fd). */
span.name	{ font-style: normal; font-weight: bold; } /* Name of utility (Nm). */
span.opt	{ } /* Options (Op, Oo/Oc). */
span.ref	{ } /* Citations (Rs). */
span.ref-auth	{ } /* Reference author (%A). */
span.ref-book	{ font-style: italic; font-weight: normal; } /* Reference book (%B). */
span.ref-city	{ } /* Reference city (%C). */
span.ref-date	{ } /* Reference date (%D). */
span.ref-issue	{ font-style: italic; font-weight: normal; } /* Reference issuer/publisher (%I). */
span.ref-jrnl	{ font-style: italic; font-weight: normal; } /* Reference journal (%J). */
span.ref-num	{ } /* Reference number (%N). */
span.ref-opt	{ } /* Reference optionals (%O). */
span.ref-page	{ } /* Reference page (%P). */
span.ref-corp	{ } /* Reference corporate/foreign author (%Q). */
span.ref-rep	{ } /* Reference report (%R). */
span.ref-title	{ text-decoration: underline; } /* Reference title (%T). */
span.ref-vol	{ } /* Reference volume (%V). */
span.small	{ font-size: smaller; } /* Generically small (SB, SM). */
span.type	{ font-style: italic; font-weight: normal; } /* Variable types (Vt). */
span.unix	{ } /* Unices (Ux, Ox, Nx, Fx, Bx, Bsx, Dx). */
span.utility	{ font-style: normal; font-weight: bold; } /* Name of utility (Ex). */
span.var	{ font-style: normal; font-weight: bold; } /* Variables (Rv). */

a.link-ext	{ } /* Off-site link (Lk). */
a.link-includes	{ } /* Include-file link (In). */
a.link-mail	{ } /* Mailto links (Mt). */
a.link-man	{ } /* Manual links (Xr). */
a.link-ref	{ } /* Reference section links (%Q). */
a.link-sec	{ } /* Section links (Sx). */

table.footer	{ } /* Document footer. */
table.header	{ } /* Document header. */

/* Formatting for lists. */

dl.list-diag	{ }
dt.list-diag	{ }
dd.list-diag	{ }

dl.list-hang	{ }
dt.list-hang	{ }
dd.list-hang	{ }

dl.list-inset	{ }
dt.list-inset	{ }
dd.list-inset	{ }

dl.list-ohang	{ }
dt.list-ohang	{ }
dd.list-ohang	{ }

dl.list-tag	{ }
dt.list-tag	{ }
dd.list-tag	{ }

table.list-col	{ }
tr.list-col	{ }
td.list-col	{ }

ul.list-bul	{ }
li.list-bul	{ }

ul.list-dash	{ }
li.list-dash	{ }

ul.list-hyph	{ }
li.list-hyph	{ }

ul.list-item	{ }
li.list-item	{ }

ol.list-enum	{ }
li.list-enum	{ }
