div.body	{ font-family: monospace; min-width: 580px; width: 580px; } /* Top-most div tag. */

span.sec-head	{ font-weight: bold; } /* Sections (Sh). */
div.sec-head	{ }		
div.sec-body	{ }
div.sec-block	{ }

span.ssec-head	{ font-weight: bold; } /* Sub-sections (Ss). */
div.ssec-head	{ }
div.ssec-body	{ }
div.ssec-block	{ }

span.addr	{ } /* Address (Ad). */
span.arg	{ font-style: italic; } /* Command argument (Ar). */
span.author	{ } /* Author name (An). */
span.cmd	{ font-weight: bold; } /* Command (Cm). */
span.config	{ font-weight: bold; } /* Config statement (Cd). */
span.define	{ } /* Defines (Dv). */
span.desc	{ } /* Nd.  After em-dash. */
span.diag	{ font-weight: bold; } /* Diagnostic (Bl -diag). */
span.emph	{ font-style: italic; } /* Emphasis (Em). */
span.env	{ } /* Environment variables (Ev). */
span.errno	{ } /* Error string (Er). */
span.farg	{ font-style: italic; } /* Function argument (Fa, Fn). */
span.fname	{ font-style: italic; } /* Function name (Fa, Fn, Rv). */
span.file	{ font-style: italic; } /* File (Pa). */
span.flag	{ font-weight: bold; } /* Flag (Fl, Cm). */
span.includes	{ font-weight: bold; } /* Header includes (In). */
span.lib	{ } /* Library (Lb). */
span.lit	{ font-family: monospace; } /* Literals (Bf -literal). */
span.macro	{ font-weight: bold; } /* Macro-ish thing (Fd). */
span.name	{ font-weight: bold; } /* Name of utility (Nm). */
span.opt	{ } /* Options (Op, Oo/Oc). */
span.symb	{ font-weight: bold; } /* Symbols. */
span.type	{ font-style: italic; } /* Variable types (Vt, Ft, Fn). */
span.unix	{ } /* Unices (Ux, Ox, Nx, Fx, Bx, Bsx, Dx). */
span.utility	{ font-weight: bold; } /* Name of utility (Ex). */
span.var	{ font-weight: bold; } /* Variables (Rv). */

a.link-man	{ } /* Manual links (Xr). */
a.link-sec	{ } /* Section links (Sx). */
a.link-mail	{ } /* Mailto links (Mt). */
a.link-ext	{ } /* Off-site link (Lk). */

div.lit		{ } /* Literal (D1, Bd -literal, Dl, Bd -literal). */
div.emph	{ font-style: italic; } /* Emphasis (Bl -emphasis). */
div.symb	{ font-weight: bold; } /* Symbols (Bl -symbolic). */

table.header	{ } /* Document header. */
table.footer	{ } /* Document footer. */

