html		{ min-width: 40em;
		  max-width: 60em;
		  width: 60%;
		  margin-left: 4em; }

body		{ color: #333333;
		  text-align: justify;
		  font-size: 0.93em;
		  font-family: Times, serif; }

h1, h2		{ font-size: inherit; }

h1		{ margin-left: -3.0em; }

h2		{ margin-left: -1.5em; }

p.head, p.foot	{ margin-left: -3.0em;
		  text-align: right; }

p.head		{ border-bottom: 1px solid #dddddd; 
		  padding-bottom: 0.2em; }

p.foot		{ border-top: 1px solid #dddddd; 
		  padding-top: 0.2em;
		  font-size: smaller; }

p.news		{ color: #000000; 
		  margin-left: -0.5em; }

span.nm		{ font-weight: bold; }

span.file	{ font-style: italic; }

span.attn	{ color: #000000; font-weight: bold; }

span.flag	{ font-weight: bold; }

a		{ text-decoration: none; }

a.external 	{ background: transparent url(external.png) center right no-repeat; 
		  padding-right: 12px; }
