body				{ font-family: Helvetica,Arial, sans-serif;
		 	  	  font-size: small; }
#mancgi fieldset		{ text-align: center; }
#mancgi input[name=expr] 	{ width: 25%; }
#mancgi td.title		{ padding-right: 1em; 
			  	  text-align: right; }
