	body			{ margin: 10px;
			 	  font-family: Tahoma, sans-serif;
				  font-size: small; }
	h1			{ font-size: small; }
	h2			{ font-size: small; }
	div.mdoc		{ width: 600px; }
	div.block-Sh		{ margin-bottom: 20px; }
	div.head-Ss		{ font-weight: bold;	
				  margin-top: 10px;
				  text-align: justify; }
	div.body-Sh		{ margin-left: 20px;
				  margin-top: 10px; 
				  text-align: justify; }
	table.header-table	{ margin-bottom: 10px; }
	td.header-section	{ text-transform: uppercase; }
	span.inline-Nd:before	{ content: ' \2014 '; }
	span.inline-Fl:before	{ content: '-'; }
	span.inline-Fl		{ font-weight: bolder; }
	span.inline-Cm		{ font-weight: bolder; }
	span.inline-Cd		{ font-weight: bolder; }
	span.inline-Nm		{ font-weight: bolder; }
	span.inline-An		{ text-decoration: underline; }
	span.inline-Ar		{ text-decoration: underline; }
	span.inline-Pa		{ text-decoration: underline; }
	div.block-Bl		{ margin-top: 10px;
				  margin-left: 20px; }
	div.inline-Pp		{ margin-bottom: 10px; }
	span.inline-Sy		{ font-weight: bolder; }
	span.inline-Tn		{ font-variant: small-caps; }
	span.inline-D1		{ margin-left: 20px; }
	span.head-Fo		{ font-weight: bolder; }
	span.body-Fo:before	{ content: '('; }
	span.body-Fo:after	{ content: ')'; }
	span.body-Oo:before	{ content: '['; }
	span.body-Oo:after	{ content: ']'; }
	span.inline-Va		{ text-decoration: underline; }
	span.inline-Vt		{ text-decoration: underline; }
	span.inline-Em		{ font-style: italic; }
	span.inline-Ft		{ text-decoration: underline; }
	span.inline-Fd		{ font-weight: bolder; }
	span.inline-Ic		{ font-weight: bolder; }
	span.inline-Op:before	{ content: '['; }
	span.inline-Op:after	{ content: ']'; }
	span.inline-Qq:before	{ content: '\"'; }
	span.inline-Qq:after	{ content: '\"'; }
	span.inline-Aq:before	{ content: '\3c'; }
	span.inline-Aq:after	{ content: '\3e'; }
	span.inline-Bq:before	{ content: '['; }
	span.inline-Bq:after	{ content: ']'; }
	span.inline-Dq:before	{ content: '\201c'; }
	span.inline-Dq:after	{ content: '\201d'; }
	span.inline-Pq:before	{ content: '('; }
	span.inline-Pq:after	{ content: ')'; }
	span.inline-Ql:before	{ content: '\2018'; }
	span.inline-Ql:after	{ content: '\2019'; }
	span.inline-Sq:before	{ content: '\2018'; }
	span.inline-Sq:after	{ content: '\2019'; }
